@import "tailwindcss";

:root {
  --background: #ffffff; /* This is no longer used, but kept for clarity */
  --foreground: #171717; /* This is no longer used, but kept for clarity */
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat-alternates: "Montserrat Alternates", sans-serif;
}

body {
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-montserrat-alternates);
}

p,
span {
  font-family: var(--font-roboto);
}