@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat-alternates: "Montserrat Alternates", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-montserrat-alternates);
}

/* This single rule applies Roboto to both p and span elements */
p,
span {
  font-family: var(--font-roboto);
}